body {
	font-family: 'Lato', sans-serif;
	background-color: #F2F2F2;
	color: #595959;
}

div {
	background: -webkit-linear-gradient(left,#F2F2F2, #FEFFFE);

}

h1 {
	background: -webkit-linear-gradient(right,#F2F2F2, #FEFFFE);
	font-family: 'kaushan-script', sans-serif;
	font-size: 3em;
}

h2 {
	font-family: 'kaushan-script', sans-serif;
	font-size: 2em;
}

h3 {
	font-family: 'kaushan-script', sans-serif;
	font-size: 1.5em;
	color: #4D5359;
}

.char {
	font-size: 2em;
}

#escultura {

	float: right;
}

#vectorial {
	float: right;
}

/*#obl {
	float: left;
}*/

nav {
	
	width: 100%;
}

.anchor {
	text-align: center;
	display: block;
	float: left;
	background: -webkit-radial-gradient(white 50%, #595959);
	width: 33.3%;
	font-size: 2em;
	font-weight: bold;
	text-decoration: none;
	color: #595959;
	box-sizing: border-box;

}

.anchor:hover {
	background: -webkit-radial-gradient(#595959 50%,white);
	color: white;
}

#link {
	margin: 5px;
	float: right;
	
}

#video {
	margin: 5px;
	float: left;
}

#footer {
	display: block;
	background: #444446;
	border-style: double;
	border-radius: 10px;
	height: 120px;
	clear: both;
}

#copy  {

	
	text-align: center;
	color: #E5E8E7;
}

#copy a {

	text-decoration: none;
	color: #E5E8E7;
}

figcaption {
	text-align: right;
	font-size: 0.6em;
}