body {
	font-family: "Raleway", sans-serif;
}

#calculadora {
	display: block;
	width: 400px;
	height: 400px;
}

#input {
	font-family: "Raleway", sans-serif;
	color: black;
	background-color: #CFD2CD;
	margin: 0px;
	font-size: 1.6em;
	text-align: right;
	width: 50%;
	border-radius: 3px;
}

.boton {
	float: left;
	font-weight: bold;
	vertical-align: middle;
	text-align: center;
	border: none;
	font-size: 1em;
	font-family: "Dosis", sans-serif;
	width: 70px;
	height: 50px;
	margin: 5px;
	border-radius: 3px;
	background-color: #CFD2CD;
}


#result {
	display:inline;
	background: #CFD2CD;
	font-size: 1.6em;
	padding: 4px;
	color: black;
	font-weight: bold;
}


.btn:hover {
	background-color: #E5E8E7;
	text-align: center;
	font-size: 1.2em;
	border: none;
	font-family: "Dosis", sans-serif;
	margin: 5px;
	border-radius: 3px;
}

.panel-footer {
	margin-top: 10px;
}

.panel-footer>a {
	color: #444446;
	text-decoration: none;
}
.panel-footer>a:hover {
	font-weight: bold;
	color: #252627;
	text-decoration: none;
}


/*.btn:active {
  background-color: grey;
  box-shadow: 0 2px black;
  transform: translateY(1px);
}
*/